# the number of frames to be held in the buffer, recommended: 50
FRAME_BUFFER_SIZE=50
# the location of the video to be used for the stream, recommended: <absolute_path_to_project>/resources/countdown.mp4
VIDEO_SOURCE=/path/to/video.mp4
# the location where the captured frames and metadata will be stored, recommended: <absolute_path_to_project>/resources/out
TARGET_LOCATION=/path/to/output